header { background: yellow; width:100%; height: auto; }
section { background: rgb(175, 175, 175); width:80%; height: auto; float: left; }
aside { background: orange; width:20%; height: auto; float: right; }
img { border-radius: 25%; max-width: 40%; height: auto; }
footer { background: #008080; width:100%; height: auto; clear: both; }
a { text-decoration: none;}
h1 { 
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
body { background: rgb(175, 175, 175); font: 15px Verdana, sans-serif; color: black; text-align: left; }
b {font-size: 11px; color: rgb(61, 122, 32);}
code {background: white; color: rgb(16, 63, 16)}